<style>
	div.block{
	  overflow:hidden;
	}
.dashicons-admin-plugins:before { 
content: "\f106";
display: inline-block;
color: #1EC9B3;
-webkit-font-smoothing: antialiased;
font: normal 20px/1 'dashicons';
}
	div.vertspacer{
		height:8px;
	}
	a:active, a:focus {
		outline: 0;
		border: none;
		-moz-outline-style: none;
		box-shadow: none;
	}
	div.unit
	{
		border-radius:5%;
		background-image: linear-gradient(to right,#F1F1F1, #E9EAEA);
		clear:both;
    		height:35px;
	  	width:100%;
		max-width:748px;
		margin-top:8px;	
		padding-bottom:4px;
	}
	div.title
	{
		padding-bottom:20px;
	}
	div.datenav
	{
		float:right;
		padding-top:5px;
		white-space: nowrap;
		margin-right:5px;
	}
	div.dateheading
	{
		border-radius:5%;
		float:left;
		text-left:right;
		color:#7E8790;
		font-size:22px;
		padding-top:10px;
		padding-left:8px;
		padding-bottom:7px;
	}
	div.calendar-month 
	{	
		clear:both;
		display:block;	
		padding-top:6px;
	}
	div.weekdays
	{
		clear:both;
		margin-left:-1px;
	}
	div.weekday 
	{
		font-size:15px;
		min-width:95px;
		text-align:right;
		float:left;
		padding-bottom:2px;
                padding-top:5px;
		margin-right:12px;
		margin-left:1px;
		color:#7E8790;
		background-color:#F1F1F1;
		display: inline-block;
	}
        div.navbutton-sel   
        {
                border-bottom: 2px solid #0173AA;
        }
	div.navbutton
	{
		color:#0173AA;
		display:inline-block;
		width:70px;
		height:18px;
		font-size:14px;
		font-weight:400;
		line-height: 1.3;
		text-align:center;
		vertical-align:top;
		padding-top:4px;
		padding-bottom:5px;
		margin-right:3px;
	}
        div.arrow-navbutton
        {
                border-radius: 10%;
		background-color:#F3F5F6;
                color:#0173AA;                
		border: 1px solid #0173AA;
                display:inline-block;
                height:18px;
                font-size:14px;
                font-weight:400;
                line-height: 1.3;
                text-align:left;
                vertical-align:top;
                padding-top:6px;
                padding-bottom:3px;
		padding-left:9px;
        	padding-right:9px;
	}

	div.arrow-right {
  		width: 0; 
  		height: 0; 
		margin-left:3px;
  		border-top: 7px solid transparent;
  		border-bottom: 7px solid transparent;
  		border-left: 7px solid #0173AA;
	}
	div.arrow-navbutton:hover {
		background-color:white;
	}
	div.arrow-left {
		margin-right:3px;
  		width: 0; 
  		height: 0; 
  		border-top: 7px solid transparent;
  		border-bottom: 7px solid transparent; 
  		border-right:7px solid #0173AA; 
	}
	
	div.calendar-day {
		color:#7E8790;
		font-weight:bold;
		width:94px;
		text-align:right;
		padding-top:11px;
		padding-right:11px;
		font-size:15px;
		height:105px;
		background-color:white;
		margin-right:3px;
		margin-bottom:3px;
		float:left;
	}
	div.calendar-day-disb {
		font-weight:bold;
		background-color:#FBFBFB;
                color:#A1B4C2;
                width:94px;
                text-align:right;
                padding-top:11px;
                padding-right:11px;
                font-size:15px;
                height:105px;
                margin-right:3px;
                margin-bottom:3px;
                float:left;
	}
	div.calendar-day:hover {
		background-color:#DAF5FF;
	}
</style>
